.container {
  padding: 20px;
}

.resourceType {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.data {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  overflow-y: hidden;
  overflow-x: hidden; /* Add this line to remove horizontal scrollbar */
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
}

button:active {
  background-color: #dc3545;
}

button:hover {
  color: aqua;
}

.center {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}